<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>add_Items</servlet-name>
        <servlet-class>add_Items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_carts</servlet-name>
        <servlet-class>view_carts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clear_carts</servlet-name>
        <servlet-class>clear_carts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removecarts</servlet-name>
        <servlet-class>Removecarts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_Items</servlet-name>
        <url-pattern>/add_Items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_carts</servlet-name>
        <url-pattern>/view_carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clear_carts</servlet-name>
        <url-pattern>/clear_carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removecarts</servlet-name>
        <url-pattern>/Removecarts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
